.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 50em;
}

.title {
	font-family: 'Libre Baskerville', serif;
	font-size: 2.5em;
	color: #003459
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50em;
	width: 100%;
}

.main-text {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	text-align: center;
	color: #003459;
	margin-top: 5%;
}

.answer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.translation-text {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	text-align: center;
	color: #003459;
	margin-top: 5%;
}

.arabic-text {
	font-family: 'Tajawal', sans-serif;
	font-size: 2.5em;
	text-align: center;
	color: #003459;
	margin-top: 5%;
}

.more-info-container {
	margin-top: 5%;
}

.more-info-text {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	text-align: center;
	color: #003459;
	margin-left: 2em;
}

.button-container {
	margin-top: 5%;
}