.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.title {
	font-family: 'Libre Baskerville', serif;
	font-size: 2.5em;
	color: #003459
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item-row {
	display: flex;
	width: 100%;
	margin-top: 1.5em;
}

.main-text {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: #003459
}

.content-text {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5em;
	color: #003459
}

.arabic-text {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	color: #003459
}